<div class="box box1">
  <h1>HOME</h1>
</div>

<blockquote class="blockquote text-center">
  <p class="ml-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer ml-5">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>

<div class="">
  <p class="text-right text-justified">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sodales mi eu est hendrerit, quis laoreet tortor luctus. Mauris viverra mauris in vehicula laoreet. Quisque nec vestibulum turpis. Duis ornare elit quam, at aliquet diam accumsan eu. Ut consectetur tellus sed magna luctus efficitur. Nullam mollis turpis convallis leo pellentesque commodo. Aenean laoreet sagittis libero, eget sodales tellus viverra eu. Maecenas lobortis elit ullamcorper eleifend mollis. Donec imperdiet enim et lectus pulvinar, nec posuere ex volutpat. Suspendisse in velit a arcu sagittis tincidunt placerat ut est. In suscipit finibus ex, quis pellentesque libero tempus sed. Proin pharetra lectus nibh, nec efficitur eros sollicitudin et. Morbi sed sollicitudin tortor, at interdum tellus.
    </p>
    <p class="text-right text-justified">
    </p>
    Donec posuere condimentum justo at scelerisque. Aliquam rhoncus malesuada ultricies. Praesent iaculis malesuada lorem. Nam aliquam vulputate dolor at porta. In hac habitasse platea dictumst. In et dui ac urna lacinia ullamcorper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi fringilla arcu augue, et gravida sapien egestas eu.
    <p class="text-right text-justified">
    Curabitur quis finibus lacus. Mauris consectetur accumsan orci, at condimentum ante hendrerit fermentum. Duis ac ligula non mi tempus feugiat. Sed vitae quam laoreet, mollis leo nec, molestie mauris. Aliquam sodales libero nec erat consequat, sed ornare dolor volutpat. Nullam dapibus ultricies nisl, vel lacinia neque scelerisque vel. Donec sodales est nec nisl dictum facilisis. Duis bibendum id sem vitae sodales. Nunc tincidunt pellentesque ultricies. Suspendisse at dui aliquam, finibus erat vitae, fringilla massa.
   </p>
    <p class="text-right text-justified">
    Etiam et laoreet lectus, ac bibendum justo. Ut a tincidunt risus, nec luctus dui. Phasellus nec nulla augue. Praesent dignissim pulvinar consequat. In hac habitasse platea dictumst. Aenean ac risus odio. Nullam ex nisl, pretium ac semper sit amet, interdum ut nibh. Donec rhoncus tempus justo et varius.
   </p>
    <p class="text-right text-justified">
    Morbi ultrices lacinia accumsan. Nulla varius tellus ut nisl hendrerit gravida. Ut nisi magna, euismod et vulputate fringilla, pellentesque nec mi. Nam pellentesque, ex ac ultricies ullamcorper, sapien justo viverra ex, quis laoreet risus erat at est. Phasellus eget felis at lectus pulvinar dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin hendrerit turpis quis nibh fermentum interdum. Morbi sagittis justo turpis.
  </p>
</div>
