<!-- <div class="box box1">
  <h1>HOME</h1>
</div> -->

<banner imgPath="../../../assets/Sobre mim.png" imgDescription="Sobre mim"></banner>

<div class="container">
<div class="m-5">
  <paragraph paragraph='Meu nome é Artur, adoro aprender e sempre adorei.
  Desde criança aprendi que qualquer coisa me interessa, desde como meu brinquedo bipa e pisca, como alguém tornou meu videogame favorito tão legal.'></paragraph>

  <paragraph paragraph='Agora, como adulto, mantenho a alegria de descobrir algo novo e a audácia de tentar replicar - e possivelmente tentar torná-lo melhor.
  Sou um desenvolvedor de software que adora a alegria absoluta de criar e moldar novos aplicativos, da emoção do sucesso ao aprendizado de falhas,
  qualquer coisa é um novo passo para me elevar como pessoa e profissional.'></paragraph>

  <paragraph paragraph='Minhas especialidades são Java / Spring no back end e Javascript / Angular / Vue no front end. Também tenho familiaridade com SQL.'></paragraph>

    <paragraph paragraph='Se você também adora aprender, considere-me um amigo.'></paragraph>
</div>
</div>


<div class="container-fluid cxt-padded bg-faded">
  <div class="container">
    <div class="row">
      <div class="col-md-2 mb-4 text-md-left text-center">
        <img class="rounded-circle" src="../../../assets/gandhi.jpg" width="200" alt="Ghandi">
      </div>
      <div class="col-md-10 text-md-left text-center">
        <p class="lead ml-3">"Aprenda como se você fosse viver para sempre."</p>
        <h2 class="mt-0 ml-3 mb-5">Mahatma Gandhi</h2>
      </div>
    </div>
  </div>
</div>
