<banner imgPath="../../../assets/habilidades.png" imgDescription="Habilidades"></banner>

<div class="container mt-5">

  <div class="mt-5 ml-3">
    <paragraph title="Conheça minhas habilidades" paragraph="Cada card tem uma tema, dentro deste tema você pode saber um pouco sobre minha experiência
    e certificados sobre este dado tema!"></paragraph>
    <paragraph paragraph="Cada card tem uma tema, dentro deste tema você pode saber um pouco sobre minha experiência
    e certificados sobre este dado tema!"></paragraph>
  </div>

  <div data-aos="fade-up-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
    data-aos-anchor-placement='bottom-bottom' data-aos-delay='250'>
    <div class="m-3 mt-5">
      <card cardTitle="Java"
        cardParagraph="A primeira linguagem que eu aprendi, também a linguagem que me decido e foco mais para me aperfeiçoar"
        cardSecondParagraph="Uma linguagem popular pela sua base sólida e confiabilidade, Java é referência para todos nós pipipi popopo."
        firstImage='../../assets/java/java.png' secondImage='../../assets/java/jpa.png'
        thirdImage='../../assets/java/spring.png'>
      </card>
    </div>
  </div>

  <div data-aos="fade-up-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
    data-aos-anchor-placement='center-bottom' data-aos-delay='100'>
    <div class="m-3 mt-5">
      <card cardTitle="Javascript"
        cardParagraph="De JS básico a frameworks como Vue e Angular. A versatilidade da linguagem mais popular da internet"
        cardSecondParagraph="PIPIPIPIPIPIPIPIPIPIPPIPIPIPIPIP" firstImage='../../assets/js/js.png'
        secondImage='../../assets/js/angular.png' thirdImage='../../assets/js/vue.png'></card>
    </div>
  </div>

  <div data-aos="fade-up-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
    data-aos-anchor-placement='center-bottom' data-aos-delay='100'>
    <div class="m-3 mt-5">
      <card cardTitle="SQL"
        cardParagraph="A primeira linguagem que eu aprendi, também a linguagem que me decido e foco mais para me aperfeiçoar"
        cardSecondParagraph="PIPIPIPIPIPIPIPIPIPIPPIPIPIPIPIP" firstImage='../../assets/sql/mysql.png'
        secondImage='../../assets/sql/postgre.png' thirdImage='../../assets/sql/oracle.png'></card>
    </div>
  </div>

  <div data-aos="fade-up-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
    data-aos-anchor-placement='bottom-bottom' data-aos-delay='250'>
    <div class="m-3 mt-5 mb-5">
      <card cardTitle="Outros"
        cardParagraph="A primeira linguagem que eu aprendi, também a linguagem que me decido e foco mais para me aperfeiçoar"
        cardSecondParagraph="PIPIPIPIPIPIPIPIPIPIPPIPIPIPIPIP" firstImage='../../assets/outros/git.png'
        secondImage='../../assets/outros/rabbitmq.png' thirdImage='../../assets/outros/designpattern.png'></card>
    </div>
  </div>

</div>