<banner imgPath="../../../assets/habilidades.png" imgDescription="Habilidades"></banner>

<div class="container mt-5">

  <div data-aos="fade-up-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
    data-aos-anchor-placement='top-center' data-aos-delay='250'>
    <div class="m-3 mt-5">
      <card cardTitle="Java"
        cardParagraph="A primeira linguagem que eu aprendi, também a linguagem que me decido e foco mais para me aperfeiçoar"
        cardSecondParagraph="Uma linguagem popular pela sua base sólida e confiabilidade, Java é referência para todos nós pipipi popopo.">
      </card>
    </div>
  </div>

  <div data-aos="fade-up-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
    data-aos-anchor-placement='top-center'  data-aos-delay='250'>
    <div class="m-3 mt-5">
      <card cardTitle="Javascript"
        cardParagraph="De JS básico a frameworkscomo Vue e Angular. A versatilidade da linguagem mais popular da internet"
        cardSecondParagraph="PIPIPIPIPIPIPIPIPIPIPPIPIPIPIPIP"></card>
    </div>
  </div>

  <div data-aos="fade-up-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
    data-aos-anchor-placement='top-center' data-aos-delay='250'>
    <div class="m-3 mt-5">
      <card cardTitle="SQL"
        cardParagraph="A primeira linguagem que eu aprendi, também a linguagem que me decido e foco mais para me aperfeiçoar"
        cardSecondParagraph="PIPIPIPIPIPIPIPIPIPIPPIPIPIPIPIP"></card>
    </div>
  </div>

  <div data-aos="fade-up-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
    data-aos-anchor-placement='top-center'  data-aos-delay='250'>
    <div class="m-3 mt-5">
      <card cardTitle="Outros"
        cardParagraph="A primeira linguagem que eu aprendi, também a linguagem que me decido e foco mais para me aperfeiçoar"
        cardSecondParagraph="PIPIPIPIPIPIPIPIPIPIPPIPIPIPIPIP"></card>
    </div>
  </div>

</div>
