<banner imgPath="../../../assets/habilidades.png" imgDescription="Habilidades"></banner>

<div class="container content mt-5">

  <div class="mt-5 ml-3">
    <paragraph title="Conheça minhas habilidades" paragraph="Cada card tem uma tema, dentro deste tema você pode saber um pouco sobre minha experiência
    e certificados sobre este dado tema!"></paragraph>
  </div>

  <div data-aos="fade-up-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
    data-aos-anchor-placement='bottom-bottom' data-aos-delay='250'>
    <div class="m-3 mt-5">
      <card cardTitle="Java"
        cardParagraph="A primeira linguagem que eu aprendi, também a linguagem que me decido e foco mais para me aperfeiçoar desde o ínicio da minha trajetória."
        cardSecondParagraph="Uma linguagem popular pela sua base sólida e confiabilidade, Java é referência no mercado a décadas."
        firstImage='../../assets/java/java.png' secondImage='../../assets/java/jpa.png'
        thirdImage='../../assets/java/spring.png'
        [certificados]=javaCertificados
        modalText='Meu foco principal é me especializar em Java e suas ramificações, uma gigantesca parte do meu trabalho e estudo é voltada para o ecosssistema Spring. Busco me especializar do básico subindo aos poucos e constantemente, indo do mais baixo nível em Java até o mais alto, ambas abordagens me fascinam.'
        >
      </card>
    </div>
  </div>

  <div data-aos="fade-up-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
    data-aos-anchor-placement='center-bottom' data-aos-delay='100'>
    <div class="m-3 mt-5">
      <card cardTitle="Javascript"
        cardParagraph="De JS básico a frameworks como Vue e Angular. A versatilidade da linguagem mais popular da internet."
        cardSecondParagraph="O universo gigantesco de JS e seus frameworks, veja o que eu conheço deste mar quase infinitos de possibilidades. " firstImage='../../assets/js/js.png'
        secondImage='../../assets/js/angular.png' thirdImage='../../assets/js/vue.png'
        [certificados]=jsCertificados
        modalText='Meu contato com Javascript iniciou com o frameWork Vue, o qual desde o início gostei pela sua simplicidade de utilização e diversas possibilidades. Eventualmente acabei trocando meu foco para Angular 2+, visto que o mercado costuma pedir o famoso "combo" Spring/ Angular. Ambos frameworks me fascinam muito, inclusive todo este site foi construído usando Angular 8 e seguindo suas boas práticas de componentização e modulação'
        ></card>
    </div>
  </div>

  <div data-aos="fade-up-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
    data-aos-anchor-placement='center-bottom' data-aos-delay='100'>
    <div class="m-3 mt-5">
      <card cardTitle="SQL"
        cardParagraph="Banco de dados relacionais são o meu foco de estudo e de experiência até então. Já tive o prazer de trabalhar com alguns bancos diferentes até o momento."
        cardSecondParagraph="Sempre disposto a entender cada vez mais desta ferramenta primordial de todo desenvolvedor aqui estão as minhas experiências." firstImage='../../assets/sql/mysql.png'
        secondImage='../../assets/sql/postgre.png' thirdImage='../../assets/sql/oracle.png'
        modalText="Começando por MySql, meu primeiro contato com a persistência em banco de dados foi criando via linha de comando os comandos clássicos
        do universo de banco de dados. Tenho maior experiência com bancos de dfados Oracle e Postgre (Usado como exemplo nesta aplicação). Quanto a Oracle venho utilizando PL/SQL amplamente desde meu início como profissional."
        [certificados]=sqlCertificados></card>
    </div>
  </div>

  <div data-aos="fade-up-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
    data-aos-anchor-placement='bottom-bottom' data-aos-delay='250'>
    <div class="m-3 mt-5 mb-5">
      <card cardTitle="Diversos"
        cardParagraph="No mundo da tecnologia as ferramentas para o trabalho do desenvolvedor estão sempre mudando, evoluindo ou nascendo e morrendo. Manter-se informado é primordial."
        cardSecondParagraph="Existem também as habilidades mais passivas, como conhecimentos de padrões de projetos. Tudo agrega no meu crescimento como profissional." firstImage='../../assets/outros/git.png'
        secondImage='../../assets/outros/rabbitmq.png' thirdImage='../../assets/outros/designpattern.png'
        [certificados]=outrosCertificados
        modalText='Estes são alguns outros temas que também me interesso muito, porém não são tão grandes como os outros para terem sua cessão prórpria. Git, padrões de projetos, Mensageria, boas práticas. Tudo entra aqui.'></card>
    </div>
  </div>

</div>