<!-- <div class="box box2">
  <h1>EMAIL</h1>
</div> -->
<banner imgPath="../../../assets/contato.png" imgDescription="Fale comigo"></banner>

<div class="d-flex justify-content-center mt-3">
  <div class="row">
    <div class="col-md-4">

      <div class="profile-card-2"><img src="https://i.pinimg.com/originals/af/ba/bd/afbabd26b1ae654ffa32cebc19ca374f.jpg"
          class="img img-responsive">
        <div class="profile-name">Pepe Peperoni</div>
        <div class="profile-username">@pepetop</div>
        <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i>
          </a><a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

    </div>
  </div>
