<banner imgPath="../../../assets/contato.png" imgDescription="Fale comigo"></banner>

<div class="container mt-3 mb-5">
  <div class="justify-content-center">
    <paragraph title="Texto"
      paragraph='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget tortor ut erat finibus luctus. Nullam iaculis ipsum vitae massa suscipit, vitae tempus lacus tincidunt. Aliquam convallis ex ut ultricies efficitur. Donec ut mollis elit, nec scelerisque orci. In hac habitasse platea dictumst. Aliquam finibus felis a nulla accumsan congue. Sed finibus nulla non neque varius sagittis. Donec hendrerit felis in purus tincidunt, et facilisis mauris faucibus. Nullam vestibulum nunc ac tortor pellentesque facilisis. Donec facilisis pretium tempus. Integer non tempus leo, at sagittis dui. Nunc semper suscipit nisi et varius. Duis justo purus, mollis et feugiat at, lobortis vitae purus. Etiam lacinia posuere ligula eget imperdiet. Nunc at neque ullamcorper tortor tincidunt laoreet id in ex.

    Aenean posuere, velit eu mattis scelerisque, ante libero laoreet urna, eget porttitor enim lacus vel mauris. Quisque efficitur varius ex, sit amet ultricies lectus cursus suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In erat mi, accumsan quis lectus vel, tincidunt luctus ipsum. Cras lacinia, metus cursus facilisis posuere, diam massa laoreet elit, quis lacinia turpis nulla eget orci. Nullam pretium auctor iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

    Fusce dignissim maximus erat in congue. Curabitur suscipit risus nec maximus convallis. Phasellus rhoncus ullamcorper mi, a pretium arcu dapibus in. In tempor et enim vitae ultricies. Nullam ullamcorper at turpis quis tempor. Sed nec volutpat quam. Praesent in turpis non urna pellentesque fringilla in vel nisi. Ut ullamcorper erat vitae congue interdum.

    Donec facilisis eget tortor vel convallis. Morbi congue commodo turpis et maximus. Sed at lacus gravida, interdum est vulputate, blandit nibh. Cras sollicitudin ullamcorper arcu, a pretium mi aliquet eget. Etiam ac nibh non tellus pharetra sagittis id at mi. Aenean finibus libero quis neque volutpat, sit amet interdum leo ultricies. In placerat libero quis sapien scelerisque scelerisque. Duis eget dapibus eros, sed consequat mauris. Ut pellentesque risus urna, scelerisque pretium libero tristique sit amet. Morbi tincidunt nulla ac lacus pulvinar tempus. Donec dictum ligula nibh, at ornare sem ultrices sit amet. Etiam dignissim libero molestie erat commodo, id rutrum massa euismod. Nullam non nisi rhoncus, dictum risus a, scelerisque nulla. Ut vel mattis orci, in egestas velit. Duis dui libero, luctus id placerat quis, tempor id massa.

    Sed condimentum quis est condimentum laoreet. In est tellus, aliquam vel maximus eu, placerat sit amet mauris. Curabitur rhoncus lacinia augue vitae sollicitudin. Phasellus porta congue ipsum, vitae laoreet felis feugiat id. Ut sollicitudin erat tortor, sit amet scelerisque nulla ornare vitae. Sed interdum iaculis dui, porta malesuada nisi scelerisque eget. Vestibulum porttitor mauris venenatis mauris mattis, id dignissim dui tempus. Nunc eleifend porta ex at porttitor.'>
    </paragraph>
  </div>
</div>



<div class="container mt-5 mb-5">
  <div class="row">
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
      data-aos-anchor-placement='center-bottom' >
      <div class="col-md-4 ">
        <div class="profile-card-2"><img (click)="navigate('https://github.com/abmaschietto')" src="../../../assets/github.png" class="img img-responsive">
          <div class="profile-name">Github</div>
          <div class="profile-username">@abmaschietto</div>
          <div class="profile-icons">
            <a ><i (click)="navigate('https://github.com/abmaschietto')" class="fa fa-github-square"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
      data-aos-anchor-placement='center-bottom'  data-aos-delay='300'>
      <div class="col-md-4 mt-2">
        <div class="profile-card-2 " ><img (click)="navigate('https://www.linkedin.com/in/artur-boudoux/')" src="../../../assets/linkedin.png" class="img img-responsive">
          <div class="profile-name">Linkedin</div>
          <div class="profile-username">Artur Boudoux</div>
          <div class="profile-icons">
            <a (click)="navigate('https://www.linkedin.com/in/artur-boudoux/')"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"
      data-aos-anchor-placement='center-bottom'  data-aos-delay='600'>
      <div class="col-md-4  mt-2">
        <div class="profile-card-2 "><img (click)="navigate('https://www.google.com/intl/pt-PT/gmail/about/')" src="../../../assets/gmail.png" class="img img-responsive">
          <div class="profile-name">Gmail</div>
          <div class="profile-username">arturboudoux@gmail.com</div>
          <div class="profile-icons">
            <a (click)="navigate('https://www.google.com/intl/pt-PT/gmail/about/')" >
              <fa-icon class="p-1 " (click)=navigate(gmail) [icon]="envedlopeIcon"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
