<section class="py-5">
  <div class="d-flex justify-content-center">
    <div data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500" data-aos-anchor-placement='top-down'>
      <div class="row">
        <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
          <div class="blockquote-custom-icon bg-info shadow-sm">
            <fa-icon [icon]="quoteIcon"></fa-icon>
          </div>
          <p class="mb-0 mt-2 font-italic">"{{textQuote}}"</p>
          <footer class="blockquote-footer pt-4 mt-4 border-top">{{quoted}}
            <cite title="Source Title">{{quoteSource}}</cite>
          </footer>

        </blockquote>


      </div>
    </div>

  </div>
</section>
